
@font-face {
font-family: Fjalla One;
src: url('Assets/Fonts/FjallaOne-Regular.ttf');
}

.content{
  /*text-align: center;*/
  margin: 10vh 10vw 10vh 10vw;
  background-color: rgb(0,0,205);
  color: white;
}

.content__title {
  margin-bottom: 0.5em;
  font-size: 3em;
  font-family: Fjalla One, sans-serif;
  text-align: center;
}

.content__title__tagline {
  font-size: 1.5em;
  font-family: Fjalla One, sans-serif;
  text-align: center;
}

.content__form {
  display: flex;
  justify-content: center;
  text-align: center;
}

.content__display {
  background-color: purple;
  border-radius: 1.5625em;
  margin: 1vh 10vw 5vh 10vw;

}

.content__display__location {
  margin-top: 1vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.content__display__location--ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 10vh;
}

.content__display__location--li {
  font-size: 1.375em;
  margin-top: 2vh;
  font-family: 'Exo 2', sans-serif;
}

.content__display--archive {
  text-align: center;
}
input[placeholder] {
  font-family: 'Exo 2', sans-serif;
}

input{
 margin: 0.625em;
 font-size: 1.5em;
}

button{
  transition-duration: 0.4s;
  border: 1% solid white;
  background-color: white;
  border-color: white;
  font-size: 1.25em;
  font-family: 'Exo 2', sans-serif;
  border-radius: 0.625em;
  padding: 0.625em;
  margin-bottom: 10vh;
 }

button:hover {
  background-color: rgb(0,0,205); /* mediumblue */
  color: white;
  border-color: white;
}
