
@font-face {
font-family: Fjalla One;
src: url('Assets/Fonts/FjallaOne-Regular.ttf');
}

/*body {
  background-color: rgb(0,0,205);
  color: white;
}*/

.content{
  text-align: center;
  margin: 10vh 10vw 10vh 10vw;
  background-color: rgb(0,0,205);
  color: white;
}

.content--title {
  margin-bottom: 50px;
  font-size: 45px;
  font-family: Fjalla One, sans-serif;
}

.content__form {
  display: flex;
  justify-content: center;
  text-align: center;
}

.content__display {
  background-color: purple;
  border-radius: 25px;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
  /*padding-top: 10vh;
  padding-bottom: 10vh;*/
  background-position: fixed;
}

.content__display__location--ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 10vh;
  padding-top: 5vh;
  /*padding-bottom: 5vh;*/
}

.content__display__location--li {
  font-size: 22px;
}

.content__display--archive {
  margin-bottom: 10vh;
}

 input{
 margin: 10px;
 font-size: 24px;
 }

 button{
   transition-duration: 1.4s;
   border: 1% solid white;
   background-color: white;
   border-color: white;
   font-size: 20px;
   border-radius: 10px;
   padding: 10px;
   margin-top: 10px;
   margin-bottom: 10vh;

 }

 button:hover {
    background-color: rgb(0,0,205); /* mediumblue */
    color: white;
    border-color: white;
}
